.intro__list {
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 767px) {
  .intro__list {
    margin-bottom: 64px;
  }
}

@media (min-width: 768px) {
  .intro__list {
    margin-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .intro__list {
    margin-bottom: 92px;
  }
}